<div *ngIf="formGroup" class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <form [formGroup]="formGroup" novalidate>
    <div [formGroup]="formGroup.controls.groups">
      <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile *ngFor="let group of groups; let groupIndex = idx; trackBy: trackGroup">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                Group {{group.name}}
                <mat-button-toggle-group
                  class="toggle-buttons"
                  [value]="groupDisplays[group.name]"
                  (change)="singleGroupDisplayChanged(group.name, $event.value)">
                  <mat-button-toggle value="matches">
                    <mat-icon>schedule</mat-icon> Matches
                  </mat-button-toggle>
                  <mat-button-toggle value="table">
                    <mat-icon>list</mat-icon> Standings
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <app-group *ngIf="groupDisplays[group.name] === 'matches'"
                [formGroup]="formGroup.controls.groups.controls[group.name]"
                [group]="group"
                [predictions]="predictions?.groups[group.name]"
                [results]="results?.groups[group.name]">
              </app-group>
              <app-group-table *ngIf="groupDisplays[group.name] === 'table'"
                [group]="group"
                [groupResults]="groupResults.groupResults[group.name]">
              </app-group-table>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div>
      <app-knockout
        [formGroup]="formGroup.controls.knockout"
        [knockout]="knockout.knockout"
        [predictions]="predictions.knockout"
        [results]="results.knockout"></app-knockout>
    </div>
  </form>
</div>